@font-face {
    font-family: MontserratBlack;
    src: url("../fonts/Montserrat-Black.ttf");
}

@font-face {
    font-family: MontserratBlackItalic;
    src: url("../fonts/Montserrat-BlackItalic.ttf");
}

@font-face {
    font-family: MontserratBold;
    src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: MontserratSemiBold;
    src: url("../fonts/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: MontserratRegular;
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: MontserratLight;
    src: url("../fonts/Montserrat-Light.ttf");
}

@font-face {
    font-family: MontserratThin;
    src: url("../fonts/Montserrat-Thin.ttf");
}

.footerP{
    font-family: MontserratBold, serif;
    color: #ffffff;
}

.footerUl{
    font-family: MontserratRegular, serif;
    color: #ffffff;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
}

.footerUl li {
    padding-top: 13px;
}

.footerAnchor{
    font-family: MontserratLight, serif;
    color: #E7E7E7;
    font-size: 17px;
    text-decoration: none;
}

.footerAnchor:hover{
    font-family: MontserratRegular, serif;
    color: #FFB426;
    font-size: 17px;
    text-decoration: none;
}

/* Sinlge Product */

.container_image {
    position: relative;
    margin-top: 5px;
}

.container_image .image {
    opacity: 1;
    display: block;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
    border: 10px solid #FFB426;
    aspect-ratio: 1 / 1;
}

.container_image .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container_image:hover .image {
    opacity: 0.3;
}

.container_image:hover .middle {
    opacity: 1;
}

.container_image .text {
    background-color: #FFB42688;
    color: white;
    font-family: MontserratBold, serif;
    font-size: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 45% 20px;
}

.title_product {
    color: black; 
    font-family: MontserratThin, serif;
    font-size: 27px;
    padding-top: 10px;
}

.price_product {
    color: black;
    font-family: MontserratSemiBold, serif;
    font-size: 33px;
    padding-top: 10px;
}

.share_product {
    color: black;
    width: 100%;
    font-family: MontserratBold, serif;
    font-size: 14px;
    text-align: center;
}

.description_store {
    padding: 10px;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    font-family: MontserratThin, serif;
    font-size: 14px;
    text-align: justify-all;

}

.description_store a {
    font-family: MontserratLight, serif;
    color: #000000;
    text-decoration: none;
}

.subtitle_product {
    color: black;
    font-family: MontserratRegular, serif;
    font-size: 22px;
    padding-top: 30px;
}

.description_product {
    color: black;
    font-family: MontserratLight, serif;
    font-size: 19px;
}

.button_orange {
    background: #ffb326;
    color: white;
    font-family: MontserratSemiBold, serif;
    font-size: 19px;
    text-align: center;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 8px;
}